<div class="account-panel">
    <div class="account-summary">
        <img/>
        <h3>Account Name</h3>
    </div>
    <hr/>
    <div class="quick-actions">
        <h3>Quick Actions</h3>
        <button>Sell Product</button>
        <button>Edit Account</button>
    </div>
</div>