@page "/"
@using DDES.Application2.Services

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/login">Login</a>

<button @onclick="Subscribe">Subscribe</button>

@code {

    private void Subscribe()
    {
        new SubscriptionService().Subscribe();
    }

}
