@page "/"
@using Microsoft.Extensions.Logging
@using DDES.Application2.Services.Abstractions

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/login">Login</a>

@code {

    [Inject]
    private ISubscriptionService SubscriptionService { get; set; } = default!;

    [Inject]
    private ILogger<Index> Logger { get; set; } = default!;

    protected override void OnInitialized()
    {
        SubscriptionService.MessageReceived += (topic, message) => { Logger.LogInformation($"Topic: {topic}, Message: {message}"); };

        base.OnInitialized();
    }

}