@page "/messages"

<div class="messages-container">
    <div class="chats-container">
        <h3>Messages</h3>
        <div class="chats">
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
            <ChatSummary></ChatSummary>
        </div>
    </div>
    <div class="chat">
        <h4>Seller Name</h4>
        <hr/>
        <div class="chat-messages">
            <div class="chat-history">
                <ChatBubble Side="ChatBubbleSide.Left"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
                <ChatBubble Side="ChatBubbleSide.Right"></ChatBubble>
            </div>
            <input type="text"/>
        </div>
    </div>
</div>