@page "/notifications"

<div class="notification-panel-container">
    <NotificationPanel Title="My Notifications">
        <Notification>YO</Notification>
        <Notification></Notification>
        <Notification></Notification>
    </NotificationPanel>
    <NotificationPanel Title="General Notifications">
        <Notification></Notification>
        <Notification></Notification>
        <Notification></Notification>
        <Notification></Notification>
        <Notification></Notification>
    </NotificationPanel>
</div>