@page "/products"

<div class="products">
    @foreach (var product in _products)
    {
        <div class="product">
            <Product
                Name="@product.Name"
                Description="@product.Description"
                Price="@product.Price"
                SellerName="@product.Seller"/>
        </div>
    }
</div>
