@page "/products"

<div class="products">
    <div class="product">
        <Product></Product>
    </div>
    <div class="product">
        <Product></Product>
    </div>
    <div class="product">
        <Product></Product>
    </div>
    <div class="product">
        <Product></Product>
    </div>
    <div class="product">
        <Product></Product>
    </div>
</div>
