<div class="chat-bubble @GetSideClass()" title="@Title">
    <p>@Chat</p>
</div>

@code {

    [Parameter]
    public ChatBubbleSide Side { get; set; }

    [Parameter]
    public string Chat { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    private string GetSideClass()
    {
        return Side == ChatBubbleSide.Left ? "left" : "right";
    }

}