<div class="chat-summary">
    <div class="seller-image-container">
        <img/>
    </div>
    <div class="chat-summary-details-container">
        <div class="chat-summary-details">
            <p>Seller Name</p>
            <div class="chat-summary-last-sent-message">
                <p>Last message preview</p>
                <span class="pi-circle"></span>
                <p>Time sent</p>
            </div>
        </div>
    </div>
</div>