.product-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    border-radius: 5px;
    border: 1px solid #797979;
}

.product-image-container {
    width: 20%;
    margin-right: 0.75rem;
    aspect-ratio: 1;
    border: 1px solid #797979;
}

.product-image-container > img {
    width: 100%;
    height: 100%;
}

.product-details > p {
    margin: 0;
}

.product-details > p:not(:last-child) {
    margin-bottom: 1rem;
}