<div class="product-container">
    <div class="product-image-container">
        <img alt="Sample product image." />
    </div>
    <div class="product-details">
        <p>Product Name</p>
        <p>Product Price</p>
        <p>Seller Name</p>
        <p>Description</p>
    </div>
</div>

@code {
    
}