@page "/login"

<div class="login-page">
    <div>
        <h3>Login</h3>
        <div>
            <p>Username</p>
            <input type="text" @bind-value="_username" @onkeyup="LoginOnEnter"/>
            <p>Password</p>
            <input type="password" @bind-value="_password" @onkeyup="LoginOnEnter"/>
            <br/>
            <button @onclick="LoginClicked">Login</button>
        </div>
    </div>
</div>
